*,
*:after,
*:before {
	/* Set universal box sizing with inheritance. [3] */
	box-sizing: inherit;
}


@media (prefers-reduced-motion: reduce) {
	* {
		/* Prevent animations and transitions for users that want that. [4] */
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}


html {
	/* Fix the line height in all browsers. [1] */
	line-height: 1.15;
	/* Set universal box sizing with inheritance. [3] */
	box-sizing: border-box;
}


body {
	/* Smoothly scroll between anchors. [4] */
	scroll-behavior: smooth;
	/* Prevent adjustments of font size after orientation changes in iOS. [1] */
	-webkit-text-size-adjust: 100%;
	text-rendering: optimizeSpeed;
}


body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
dl,
li,
blockquote,
figure,
figcaption,
textarea {
	/* Remove the default margin for these elements in all browsers. [1],[4] */
	margin: 0;
}


main,
details {
	/* Render <main> consistently in IE and add the correct display for <details>
	   in Edge, IE 10+, and Firefox. [1] */
	display: block;
}


summary {
	/* Add the correct display in all browsers. [1] */
	display: list-item;
}


template {
	/* Add the correct display in IE 10+. [1] */
	display: none;
}


hr {
	/* Add the correct box sizing in Firefox. [1] */
	box-sizing: content-box;
	height: 0;
	/* Show the overflow in Edge and IE. [1] */
	overflow: visible;
}


pre,
code,
kbd,
samp {
	/* Fix the inheritance and scaling of font size in all browsers. [1] */
	font-family: monospace, monospace;
	/* Fix the odd 'em' font sizing in all browsers. [1] */
	font-size: 1em;
	/* Ensure that these are block-level elements by default. */
	display: block;
	/* Ensure that these elements don't soft-wrap by default. [2] */
	white-space: pre;
	/* Since white-space is set to "pre", ensure that the element has
	   scrollbars as necessary. */
	overflow: auto;
}


p > pre,
p > code,
p > kbd,
p > samp {
	/* Render code blocks contained by <p> blocks as inline. */
	display: inline;
}


ul[class],
ol[class],
dl[class] {
	/* Remove default padding from list elements that have a class attribute. [4] */
	padding: 0;
	/* Reset list style for lists with class attributes. [4] */
	list-style: none;
}


a {
	/* Remove the gray background on active links in IE 10. [1] */
	background-color: transparent;
}


a:not([class]) {
	/* Makes links a bit more readable while avoiding conflicts. [4] */
	text-decoration-skip-ink: auto;
}


abbr[title] {
	/* Remove the bottom border in Chrome 57-. [1] */
	border-bottom: none;
	/* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari. [1] */
	text-decoration: underline;
	text-decoration: underline dotted;
}


b,
strong {
	/* Add the correct font weight in Chrome, Edge, and Safari. [1] */
	/* This has been changed from [1] because the 'bolder' value is not well
	   enough supported in common fonts: https://css-tricks.com/almanac/properties/f/font-weight/ */
	font-weight: bold;
}


small {
	/* Enforce the correct font size in all browsers. [1] */
	font-size: 80%;
}


sub,
sup {
	/* Prevent 'sub' and 'sup' elements from affecting the line height
	   in all browsers. [1] */
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}


sub {
	/* Enforce 'sub' positioning in all browsers. [1] */
	bottom: -0.25em;
}


sup {
	/* Enforce 'sup' positioning in all browsers. [1] */
	top: -0.5em;
}


body img {
	/* Remove the border on images inside links in IE 10. [1] */
	border-style: none;
	/* Go ahead and make these block-level elements. I'm not sure about this. [4] */
	display: block;
	/* [2] */
	width: 100%;
	max-width: 100%;
}


html {
	/* Font size is set to 62.5% by default so that all future rem sizes are
	   based on a 10px font. [6] */
	font-size: 62.5%;
}


/* For lower-resolution displays, the base font size is scaled from 6px up to
   8px at 1280 x 1024 and larger. */
@media
only screen and (max-resolution: 90dpi),
only screen and (-webkit-max-device-pixel-ratio: 0.9) {
	html {
		font-size: 37.5%;
	}
}


@media
only screen and (max-resolution: 90dpi) and (min-width: 500px),
only screen and (-webkit-max-device-pixel-ratio: 0.9) and (min-width: 500px) {
	html {
		font-size: 43.75%;
	}
}


@media
only screen and (max-resolution: 90dpi) and (min-width: 750px),
only screen and (-webkit-max-device-pixel-ratio: 0.9) and (min-width: 750px) {
	html {
		font-size: 50%;
	}
}


/* For medium-resolution displays, the base font size is scaled from 10px up to
   12px at 2560 x 1600 and larger. */
@media
only screen and (min-resolution: 91dpi) and (max-resolution: 119dpi),
only screen and (-webkit-min-device-pixel-ratio: 0.91) and (-webkit-max-device-pixel-ratio: 1) {
	html {
		font-size: 62.5%;
	}
}


@media
only screen and (min-resolution: 91dpi) and (max-resolution: 119dpi) and (min-width: 1500px),
only screen and (-webkit-min-device-pixel-ratio: 0.91) and (-webkit-max-device-pixel-ratio: 1) and (min-width: 1500px) {
	html {
		font-size: 68.75%;
	}
}


@media
only screen and (min-resolution: 91dpi) and (max-resolution: 119dpi) and (min-width: 2500px),
only screen and (-webkit-min-device-pixel-ratio: 0.91) and (-webkit-max-device-pixel-ratio: 1) and (min-width: 2500px) {
	html {
		font-size: 75%;
	}
}


/* For higher-resolution non-mobile displays, the base font size starts at 13px
   and goes up from there. */
@media
only screen and (min-resolution: 120dpi) and (min-width: 1500px),
only screen and (-webkit-min-device-pixel-ratio: 1.1) and (min-width: 1500px) {
	html {
		font-size: 81.25%;
	}
}


@media
only screen and (min-resolution: 120dpi) and (min-width: 2000px),
only screen and (-webkit-min-device-pixel-ratio: 1.1) and (min-width: 2000px) {
	html {
		font-size: 87.5%;
	}
}


@media
only screen and (min-resolution: 120dpi) and (min-width: 2750px),
only screen and (-webkit-min-device-pixel-ratio: 1.1) and (min-width: 2750px) {
	html {
		font-size: calc(87.5% + ((100vw - 500px) / 1000));
	}
}


body {
	/* Ensure that the page body fills the display even if the content does not. [4] */
	min-height: 100vh;
	/* The following two rules allow the header and footer elements to be positioned
	   correctly assuming they're all direct descendants of the <body> element. */
	display: flex;
	flex-direction: column;
}


header,
footer {
	/* Prevent these two eleemnts from shrinking when content is added to the <body>
	   element. */
	flex-shrink: 0;
}


main {
	/* Allow the <main> element to grow as necessary. */
	flex-grow: 1;
}


.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
}


.float-left {
	float: left;
}


.float-right {
	float: right;
}

/**
 * Typography: font, letter-spacing, line-height, text-*, list-style-type.
 */

body {
	font-family: "Open Sans", Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
	font-size: 1.8em;
	font-weight: 400;
	line-height: 1.6;
}


code {
	font-size: 86%;
}


h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 500;
}


h1 {
	font-size: 3.9rem;
	line-height: 1.2;
}


h2 {
	font-size: 3.4rem;
	line-height: 1.25;
}


h3 {
	font-size: 2.9rem;
	line-height: 1.3;
}


h4 {
	font-size: 2.6rem;
	line-height: 1.35;
}


h5 {
	font-size: 2.4rem;
	line-height: 1.5;
}


h6 {
	font-size: 2.2rem;
	line-height: 1.4;
}


dl {
	list-style: none;
}


ol {
	list-style: decimal inside;
}


ul {
	list-style: disc inside;
}


dl dl,
dl ol,
dl ul,
ol dl,
ol ol,
ol ul,
ul dl,
ul ol,
ul ul {
	font-size: 90%;
}


/**
 * Layout: Display, position, margin, padding, height, and width.
 */

main article,
main section {
	padding: 7.5rem 1.0rem;
	position: relative;
	width: 100%;
}


main section > *,
main article > * {
	max-width: 80rem;
	margin-left: auto;
	margin-right: auto;
}


main section .table-container,
main article .table-container {
	max-width: 80rem;
}


main section .table-container table,
main article .table-container table {
	width: 100%;
}


blockquote,
dl,
figure,
form,
ol,
p,
pre,
table,
ul {
	margin-bottom: 2.5rem;
}


blockquote {
	padding: 1rem 1.5rem;
}


blockquote *:last-child {
	margin-bottom: 0;
}


code {
	margin: 0 0.2rem;
	padding: 0.2rem 0.5rem;
}


pre > code {
	padding: 1rem 1.5rem;
}


hr {
	margin: 3.0rem 0;
}


h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 1.25em;
	margin-bottom: 0.75em;
}


dl,
ol,
ul {
	margin-top: 0;
	padding-left: 0;
}


dl dl,
dl ol,
dl ul,
ol dl,
ol ol,
ol ul,
ul dl,
ul ol,
ul ul {
	margin: 1.5rem 0 1.5rem 3.0rem;
}


dd,
dt,
li {
	margin-bottom: 1.0rem;
}

/**
 * borders, outline, box-shadow, appearance, and opacity.
 */

blockquote {
	border-left: 0.3rem solid #d1d1d1;
}


pre,
code {
	background: #f4f5f6;
}


pre {
	border-left: 0.3rem solid #5680cc;
}


code {
	border-radius: 0.4rem;
}


pre > code {
	border-radius: 0;
}